@use "../abstracts/variables" as *;
.sidenav{
    height: 100svh;
    width: 70px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
    &__logo{
        height: 50px;
        padding-bottom: 20px;
    }
    &__navItems{
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        &--svg{
            width: 100%;
            padding-block: 20px;
            display: flex;
            justify-content: center;
            transition: background .3s ease-out;
            & img{
                width: 22px;
                aspect-ratio: 1/1;
            }
            &:first-child{
                background: $folder-color;
            }
            &:hover{
                background: $folder-color;
            }
        }
        &--query{
            height: 30px;
        }
    }
}

.line{
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.212);
    
}