@use "../abstracts/variables" as *;

.folder{
    background: $folder-color;
    width: 40svh;
    height: 100%;
    
    &__heading{
        height: 70px;
        padding-inline: 30px;
        padding-block: 10px;
        // background: blue;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & h2{
            font-size: 2.3rem;
        }
        & p{
            font-size: 1.2rem;
        }
    } 
    
    &__container{
        padding: 20px;
        &_directory{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-name{
                font-size: 1.5rem;
                font-weight: bold;
            }
            &-icon{
                height: 20px;
                aspect-ratio: 1/1;
            }
        }
    }
}